<%- include partials/header %>
<br><br><br>
<br><br><br>
    <div class="card-deck container" style="margin-left: 200px">
        <div class="card">
          <img src="https://image.shutterstock.com/image-photo/software-developer-programming-code-abstract-260nw-577183882.jpg" style="height: 240px" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Programming</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
            <a href ="https://codeground.in/english-communication-skills.html" class="btn btn-primary">Take test</a>          </div>
         
        </div>
        <div class="card">
          <img src="http://www.cameronherold.com/blog/wp-content/uploads/2015/09/Jigsaw-Puzzle.jpg" style="height: 240px" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Puzzle</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
            <a href ="https://www.jigsawexplorer.com/puzzles/homestead-jigsaw-puzzle/" class="btn btn-primary">Take test</a>          </div>
        </div>
        <div class="card">
          <img src="http://fi.ge.pgstatic.net/articles/processed/1431440644.9fb12e98a5584664a8264cdb1176bbb2.jpg" style="height: 240px" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">General Knowledge</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
            <a href ="https://www.youth4work.com/onlinetalenttest/Test-General-Knowledge" class="btn btn-primary">Take test</a>          </div>

        </div>
      </div>
      <br><br><br>
      <div class="card-deck container" style="margin-left: 200px">
          <div class="card">
            <img src="http://hraxisindia.com/wp-content/uploads/image_carousel_thumbs/Communication-Skills-EDGE-nl7q5o38sz356jadrahkpfysx53f3bwiibnk6jb5ms.png" style="height: 240px" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">English Communication Skills Test</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
              <a href ="https://codeground.in/english-communication-skills.html" class="btn btn-primary">Take test</a>
            </div>
           
          </div>
          <div class="card">
            <img src="https://www.questionpro.com/blog/wp-content/uploads/2018/05/Quantitative-data_2_FI.jpg" style="height: 240px" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Aptitude</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
              <a href ="https://www.youth4work.com/onlinetalenttest/Test-Aptitude" class="btn btn-primary">Take test</a>            </div>
          </div>
          <div class="card">
            <img src="https://cdn.softwaretestinghelp.com/wp-content/qa/uploads/2017/10/Java-Interview-Questions-1.jpg  " style="height: 240px" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Core Java</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
              <a href ="https://www.youth4work.com/onlinetalenttest/Test-Core-Java" class="btn btn-primary">Take test</a>            </div>
  
          </div>
        </div>

        <br><br><br>
        <div class="card-deck container" style="margin-left: 200px">
            <div class="card">
              <img src="https://static.independent.co.uk/s3fs-public/thumbnails/image/2019/07/26/15/front-england-ireland.jpg" style="height: 240px" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Cricket</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                <a href ="https://www.youth4work.com/onlinetalenttest/Test-Cricket" class="btn btn-primary">Take test</a>
              </div>
             
            </div>
            <div class="card">
              <img src="https://i.ytimg.com/vi/o2EeEvc5YUo/maxresdefault.jpg" style="height: 240px" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Computer Knowledge</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                <a href ="https://www.youth4work.com/onlinetalenttest/Test-Computer-Knowledge" class="btn btn-primary">Take test</a>            </div>
            </div>
            <div class="card">
              <img src="https://www.uhyhn.co.nz/wp-content/uploads/2011/06/marketing-pic.jpg" style="height: 240px" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Marketing</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                <a href =" https://www.youth4work.com/onlinetalenttest/Test-Marketing" class="btn btn-primary">Take test</a>            </div>
    
            </div>
          </div>
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

      <%- include partials/footer %>
